:root {
  --puce: #d88c9aff;
  --light-orange: #f2d0a9ff;
  --almond: #f1e3d3ff;
  --cambridge-blue: #99c1b9ff;
  --gray: #ededed;
  --dark-blue: #2e4057;
}

body {
  font-family: "Inter", sans-serif;
  height: 100vh;
  background-color: var(--gray);
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  font-size: large;
  box-shadow: 0px 3px 15px -6px rgba(0, 0, 0, 0.1);
}

.header p {
  font-size: xx-large;
}
#mainContainer {
  padding: 15px 0px;
  min-height: 30%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  align-items: center;
  justify-items: center;
  gap: 10px;
  margin-bottom: 30px;
  /* border: 1px red solid; */
}
.card {
  width: 12rem;
  height: 15rem;
  background-color: white;
  border-radius: 5px;
  padding: 15px;
}
.card h3 {
  color: var(--dark-blue);
  text-align: center;
  box-shadow: 0px 2px 0px rgba(242, 208, 169, 1);
}
.card p {
  font-size: smaller;
}
.buttomContainer {
  position: sticky;
  bottom: 0px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
#openForm {
  margin: 5px;
  padding: 5px 15px;
  border: none;
  background-color: var(--cambridge-blue);
  color: white;
  font-size: large;
  font-weight: 600;
  border-radius: 5px;
}
#modal {
  padding: 20px 50px;
  border: none;
  border-radius: 5px;
}
::backdrop {
  background-color: #00000043;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
#modal form {
  display: flex;
  flex-direction: column;
}
#modal form input {
  margin-bottom: 20px;
  background-color: var(--gray);
  border: none;
  padding: 5px 20px;
  border-radius: 3px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#modal form p {
  margin: 3px;
}

#closeModalButton {
  margin: 5px;
  padding: 5px 15px;
  border: none;
  background-color: var(--puce);
  color: white;
  font-size: large;
  font-weight: 600;
  border-radius: 5px;
}
#addBook {
  margin: 5px;
  padding: 5px 15px;
  border: none;
  background-color: var(--light-orange);
  color: white;
  font-size: large;
  font-weight: 600;
  border-radius: 5px;
}

.deleteButton {
  margin: 5px;
  padding: 5px 15px;
  border: none;
  background-color: var(--puce);
  color: white;
  font-size: small;
  font-weight: 500;
  border-radius: 5px;
}
